*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #F7C3D1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    background: #ffffff;
    padding: 40px 60px;
    border: solid 1px #ccc;
    border-radius: 10px;
}
nav a{
    text-decoration: none;
    margin: 0 15px;
    font-size: 2rem;
    font-family: Arial,;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;
    color: #000000;
}
a::after{
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;

}
a:hover{
    color: #0a0a0a;
}
a:hover::after{
    width: 100%;

}

body{
    background-color: #666666;
    background-image: url('https://imgz.io/images/2023/04/18/80316919_p0-cropped.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}